.container {
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.operationsContainer {
	display: flex;
	gap: 16px;
	align-self: flex-end;
}

.listsContainer {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.listContainer {
	display: flex;
	flex-direction: column;
	gap: 16px;
	min-width: 364px;
}
