.operations {
	display: flex;
	align-self: center;
	gap: 12px;
}

.listsContainer {
	display: flex;
	justify-content: space-evenly;
	gap: 32px;
	width: 70%;
	align-self: center;
}

.listContainer {
	width: 100%;
}
