.addItemsContainer {
	width: 33%;
	align-self: center;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.titleDiv {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.operations {
	display: flex;
	list-style-type: none;
	justify-content: space-between;
}

